@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Graph Demo</h1>
    <p class="lead">Please login or register.</p>
    <img src="https://lh3.googleusercontent.com/sT4-RYXfIbu_Z3soe4Xs5kmoRgiMz3hkwLzdAplWlVTZTIfHFywEQNh9KolxdxChIB037Ch_51eXjh0mHHm0EbEgWP9fbYG_FjKA_ISFMA0J8FNb7z4NAnQxJf_bbw"
         class="center-block" alt="Cinque Terre" />

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started with Neo4j</h2>
        <p>
            We considered a number of NoSQL options, including Mongo, DynamoDB and other graph solutions.
            Neo4j provided the required balance of features and support we needed to unlock the power of data captured on our residential properties.
            Neo4j gives us peace of mind—it’s a solid tool with wide-ranging application, offers a stable partner to grow with, and allows us to be a part of a great user community.

            — Jackson Hull, CTO, onefinestay

        </p>
        <p><a class="btn btn-default" href="http://neo4j.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Google+ API</h2>
        <p>
            The Google+ API is the programming interface to Google+. You can use the API to integrate your app or website with Google+.
            This enables users to connect with each other for maximum engagement using Google+ features from within your application.
        </p>
        <p><a class="btn btn-default" href="https://developers.google.com/+/web/api/rest/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Google Drive API</h2>
        <p>Read, write, and sync files stored in Google Drive from your mobile and web apps. </p>
        <p><a class="btn btn-default" href="https://developers.google.com/drive/?hl=en_US">Learn more &raquo;</a></p>
    </div>
</div>