<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GraphDemo.Controllers.Neo4j.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <GraphDemo.Controllers.Neo4j.Properties.Settings>
      <setting name="GraphDBUrl" serializeAs="String">
        <value>http://localhost:7474/db/data</value>
      </setting>
      <setting name="GraphDBUser" serializeAs="String">
        <value>neo4j</value>
      </setting>
      <setting name="GraphDBPassword" serializeAs="String">
        <value>31415926535</value>
      </setting>
    </GraphDemo.Controllers.Neo4j.Properties.Settings>
  </applicationSettings>
</configuration>